@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

/* 
@layer base {
  * {
    @apply border-gray-200;
  }

  body {
    @apply bg-white text-gray-900 antialiased;
  }
} 
*/